form {
  display:flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;

  /* background-color: lightgrey; */
}

@media (max-width: 600px) {

  button#create-room{
    display: none;
  }

}