div.hostRoom {
  display:flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #87F2FB;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 5px 5px 8px grey;
}

div.drawPhaseStyle {
  display:flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 10px solid #87F2FB;
  box-shadow: 5px 5px 8px grey;
  padding-bottom: 1em;
  
}

div.guessPhaseStyle {
  display:flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 10px solid #87F2FB;
  box-shadow: 5px 5px 8px grey;
  padding-bottom: 1em;

}

/* div.final{
  padding-top: 1em;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid #009EAD;
  text-align: center;
  margin: 0px;
} */

h1#end-title{
  font-family: 'bangers';
  margin: 0px;
  padding: 1em;
  text-align: center;
  color: orangered;
  background-color: #00E9FF;
  text-shadow: 4px 4px black;
}

div.drawingAndGuess {
  display:flex;
  flex-direction: column;
  width: 375px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid orangered;
  padding: 1em;
  box-shadow: 5px 5px 8px grey;
}

div.originalWord {
  display:flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid orangered;
  padding: 1em;
  box-shadow: 5px 5px 8px grey;
}

.phase-title {
  font-size: 2em;
  text-shadow: 2px 2px orangered;
  margin-top:0px;
  background-color: #8D8D8D;
  color: white;
  width: 100%;
  padding-top:0.5em;
  padding-bottom:0.5em;
  border-radius: 10px;
}

@media (max-width: 1000px) {

  div.hostRoom {
    width: 30%;
  }

}