div.final{
  padding-top: 1em;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid #009EAD;
  text-align: center;
  margin: 0px;
}

h1#end-title{
  font-family: 'bangers';
  margin: 0px;
  padding: 1em;
  text-align: center;
  color: orangered;
  background-color: #00E9FF;
  text-shadow: 4px 4px black;
}