body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url("./images/backgound2.png");
  background-position: 0px 105px;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#draw-this-title {
  font-size: 2em;
  text-shadow: 2px 2px orangered;
  margin-top:0px;
  background-color: #8D8D8D;
  color: white;
  width: 100%;
  padding-top:0.5em;
  padding-bottom:0.5em;
  border-radius: 10px;
  margin-bottom: 0px;
}

#ready-colour-picker {
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  margin: 2em;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-right:1em;
  padding-left:1em;


}


#ready-draw {
  margin-left: auto;
  display: flex;
  position: relative;
  float: right;
  justify-content: right;
  text-align: right;
}



@media (max-width: 600px) {

    body {
      background-position: center;
      background-size: 75%; 
      /* background-image: url("./images/mobilebackgound1.jpg"); */

  }
}

